<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuesta de Satisfacción - Visualización</title>
    <link rel="stylesheet" href="../css/admin.css">

    <!-- Librerías de DataTables -->
    <link rel="stylesheet" href="../librerias/datatables.css">
    <link rel="stylesheet" href="../librerias/datatables.min.css">

    <!-- Librerías de DataTables Buttons -->
    <script src="../librerias/datatables.js"></script>
    <script src="../librerias/datatables.min.js"></script>
</head>

<body>
    <main>
        <h1>Encuesta de Satisfacción - Visualización de Respuestas</h1>
        <div class="home-button-container">
            <button id="todas" class="btn-todas">Todas las áreas</button>
            <button id="nutri" class="btn-nutri">Nutricion</button>
            <button id="fisica" class="btn-fisica">Fisica</button>
            <button id="medica" class="btn-medica">Medicina</button>
        </div>
    </main>
    
    <script src="responses.js"></script>
</body>

</html>